footer {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 50px;
    color: var(--grey);
    background-color: var(--darkblue);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 50px;
    overflow-x: hidden;
}

.footer>* {
    flex-direction: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

iframe {
    width: 100px;
    height: 100px;
    border: none;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--grey);
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
    color: var(--grey);
}

.footer-right {
    display: flex;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.footer-bottom {
    text-align: center;
    color: var(--yellow);
}

.creators a {
    text-decoration: none;
    color: var(--yellow);
}

.creators a:hover {
    color: #fbfba6;
}

.footer-left p {
    padding-right: 20%;
}

.socials img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.socials a {
    margin-left: 10px;
}

.socials a:hover {
    filter: hue-rotate(207deg);
}

@media only screen and (max-width: 768px) {
    .footer-right {
        flex-direction: column;
    }
}