.header {
    background-color: var(--darkblue);
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--darkblue);
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

.header li a:hover {
    background-color: var(--yellow);
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    float: right;
    padding: 28px 20px;
    position: relative;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
    margin: 20% 0;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 500px;
}


@media (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
        color: white;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}
