.room-info {
  background: linear-gradient(45deg, hsla(12, 10%, 90%, 1) 0%, hsla(4, 10%, 71%, 1) 35%, hsla(0, 0%, 96%, 1) 100%);
  border-radius: 20px;
  border: 2px solid #BDAFAE;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  padding: 10px;
  margin: 10px;
}

.room-info ul {
  list-style-type: '→';
}

.room-info:hover {
  background: linear-gradient(90deg, hsla(193, 97%, 36%, 1) 0%, hsla(190, 100%, 40%, 1) 50%, hsla(190, 53%, 57%, 1) 100%);
  border: 2px solid #007596;
  transition: all .3s ease-in-out;
  color: var(--black);
  cursor: pointer;
}

.room-info p, .room-info ul li {
  font-size: 14pt;
}

.price {
  text-align: center;
  font-size: 16pt;
}

.row#reservation-redirect {
  display: flex;
  justify-content: center;
}

a#reservation-link {
  text-decoration: none;
  padding: 7px 14px;
  width: 200px;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid #9e9190;
  background: #BDAFAE;
  color: var(--black);
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

a#reservation-link:hover {
    background: #00AACC;
    border: 2px solid #007596;
}

@media only screen and (min-width: 768px) {
  .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .room-info {
      margin-top: 80px;
  }

  .room-info h1 {
      text-align: center;
  }

  a#reservation-link {
      width: 40%;
      margin-top: 20px;
      padding: 10px;
      text-align: center;
  }
}