.room-info {
  background: linear-gradient(45deg, #E3D75D, #CEC7B7);
  border-radius: 20px;
  border: 10px solid #E3D75D;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  padding: 10px;
  margin: 10px;
}

.room-info:hover {
  background: linear-gradient(45deg, #2E375A, #5363A2);
  border: 10px solid #2E375A;
  opacity: .8;
  transition: all .3s ease-in-out;
  color: #E1E1E5;
}

.room-info p, .room-info ul li {
  font-size: 14pt;
}

.price {
  text-align: center;
  font-size: 16pt;
}

.row#reservation-redirect {
  display: flex;
  justify-content: center;
}

a#reservation-link {
  text-decoration: none;
  padding: 7px 14px;
  width: 200px;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid var(--yellow);
  background: var(--yellow);
  color: var(--darkblue);
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

a#reservation-link:hover {
    background: transparent;
    border: 2px solid #fff;
}

@media (min-width: 768px) {
  .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .room-info {
      margin-top: 80px;
  }

  .room-info h1 {
      text-align: center;
  }

  a#reservation-link {
      width: 40%;
      margin-top: 20px;
      padding: 10px;
      text-align: center;
  }
}