.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 18rem;
  padding-bottom: 10rem;
  position: relative;
}

.title {
  color: #e1e1e5;
  text-align: center;
  font-size: 8rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(45deg, #e3d75d, #cec7b7);
  color: #23252b;
  font-size: 1.7rem;
  margin-top: 30px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, .3);
  width: 16rem;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .8;
}