@import url("nav.css");
@import url("footer.css");
:root {
    --black: #23252b;
    --silver: #767677;
    --grey: #E1E1E5;
    --beige: #CEC7B7;
    --darkblue: #2E375A;
    --yellow: #E3D75D;
}

* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f4f4
}

