@import url("nav.css");

:root {
    --black: #23252b;
    --silver: #767677;
    --grey: #E1E1E5;
    --beige: #CEC7B7;
    --darkblue: #2E375A;
    --yellow: #E3D75D;
}

* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-image: url("../images/Reception-HotelPU-blured.png");
    background-size: cover;
    background-repeat: no-repeat;
}

